.editor-container{
	position: relative;
}

.editor{
	height: 400px;
	padding: 1em;
}

button{
	width: 28px;
	margin: auto;
	padding: 5px;
}

button:focus{
	outline: none;	
}

.button-outline:focus{
	box-shadow: none;
	outline: none;
}

.button-outline.active{
	background: purple;
	color: #fff;
}



.button-outline.is-disabled, .button-outline:disabled, .code-mode li button, button:disabled, .code-mode .button-outline.active{
	color: #ddd;
	opacity: 1;
	cursor: not-allowed;
	background: none;
}

.editor:focus{
	outline: none;
}

#code{
	position: absolute;
	bottom: 0;
	right: 0;
}

.code-mode #code{
	background: green;
	color: #fff;
}

.code-mode #editor{
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: monospace;
	
}